/* media query min-width 500px */

img {
  max-width: 100%;
  max-height: auto;
  margin: 5px;
}

/* borders for editing */
/*
div {
  border: dashed 2px red;
}
*/

/* flexbox styling */
.welcome{
	display: flex;
	margin: 20px;
  align-content: center;
}
.pic0{
  max-height: 100px;
  max-width: auto;
}

.contentBox {
  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  display: -webkit-flex;
  margin: 20px;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ddd;
}

.portfolioLogo {
	max-width: 50%;
}

.pageTitle {
  display: flex;
  flex-basis: center;
  flex-direction: column;
  align-items: flex-end;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  justify-content: center;
}


.myLinks {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

.projectPics {
	background-color: #ddc;
	max-width: 100%;
	display: flex;
	min-width: 33.3%;
	flex-direction: column;
	justify-content: center;
	box-shadow: 2px;
}

/* Text styling */
h1 {
  font-size: 40px;
  color: #999;
  margin: 5px;
}

h2 {
  font-size: 25px;
  color: #999;
  margin: 5px;
}

h3 {
  font: 25px black;
  text-align: center;
}

/* Link styling */


a:hover {
  text-align: center;
  font-size: 25px;
  color: black;
  transition: .5s;
}

a.links {
  font: 20px #5f6060;
  margin: 20px;
  padding: 10px;
}
/* Hover effect for images*/

.pic:hover {
  background-color: #467a5e;
  border-radius: 0;
  opacity: 0.7;
  transition: .05s;
}

h1,
h2,
h3,
a,
a:hover {
  font-family: "Lobster", sans-serif;
}