/* media query max-width 500px */

img, embed, object, video {
  max-width: 100%;
  max-height: auto;
  margin: 5px;
}

/* Flexbox styling */
.contentBox {
  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  display: -webkit-flex;
  margin: 20px;
}

.pageHeader{
	background-color: #ddd;

}
.pageLogo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.pageTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
.projectPics{
	background-color: #ddc;
	max-width: 100%;
	display: flex;
	min-width: 33.3%;
	flex-direction: column;
	justify-content: center;
	box-shadow: 2px;
}


/* Text styling */
h1 {
  font-family: 'Lobster';
  font-size: 40px;
  color: #999;
  margin: 5px;
  justify-content: center;
}

h2 {
  font-size: 25px;
  font-family: 'Lobster', sans-serif;
  color: #999;
  margin: 5px;
}

h3 {
  font: 25px black;
  font-family: 'Lobster', sans-serif;
  text-align: center;
}


a.links {
  font-family: 'Lobster', sans-serif;
  font: 20px #5f6060;
  margin: 20px;
  padding: 10px;
}
a:hover {
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 25px;
  color: black;
  transition: .5s;
}
